@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,300;0,400;0,900;1,400&display=swap");
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	/* align-items: stretch; */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header,
.companydescription-container {
	background-color: #374785;
	margin: 0;
	display: flex;
	padding: 0;
	justify-content: center;
}

header > .container {
	justify-content: space-between;
	align-items: center;
	padding-top: 8px;
	display: flex;
	flex: 0 1 900px;
}

.logo {
	/* border: 1px solid black; */
	color: white;
	font-family: Lobster;
	font-size: 48px;
}

.links {
	/* border: 1px solid black; */
	display: flex;
	gap: 24px;
	/* flex-shrink: 0; */
}

a {
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.companydescription {
	/* border: 1px solid black; */
	background-color: #374785;
	margin: 0;
	padding: 0;
	flex: 0 1 900px;
	height: 400px;
	display: flex;
	align-items: center;
}

.companydescription img {
	width: 400px;
	height: auto;
	flex: 1 1 400px;
}

.companydescription > .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

button {
	background-color: #f76c6c;
	border: #f76c6c;
	width: 100px;
	padding: 8px 16px;
	border-radius: 8px;
}

.card-header {
	font-size: 32px;
	font-weight: 800;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;
}

.card-container {
	/* border: 1px solid black; */
	display: flex;
	height: 300px;
	gap: 40px;
	justify-content: center;
	align-items: flex-start;
	/* padding: 0; */
	/* flex: 0 1 800px; */
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 150px;
	height: 200px;
	/* border: 1px solid black; */
}

.card > img {
	width: 150px;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > p {
	text-align: center;
	/* border: 1px solid red; */
}

.testimonial-container {
	height: 300px;
	background-color: #f8e9a1;
	display: flex;
	justify-content: center;
}
.testimonial {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.testimonial > p {
	font-size: 24px;
	font-weight: 100;
	font-style: italic;
	margin: 0;
	padding: 0;
}

.testimonial > h2 {
	font-size: 16px;
	align-self: flex-end;
	margin: 0;
	padding: 0;
}

.signup-container {
	display: flex;
	height: 200px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}
.signup {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 900px;
	height: 100px;
	border-radius: 8px;
	background-color: #374785;
	padding: 32px 100px;
	
}

.signup > .left {
	/* border: 1px solid white; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.left > h2 {
	font-weight: 300;
	padding: 0;
	margin: 0 0 4px 0;
}

.left > p {
	padding: 0;
	margin: 0;
}